.catalog
    min-height: 680px
    padding: 108px 0 49px
    background: rgb(255, 255, 255)
    .carousel
        display: flex
        img
            margin: 0 auto
        .slick-prev, .slick-next
            background: rgb(255, 255, 255)
            border: none
            img
                width: 31px
                height: 50px
        .slick-dots
            
                
